@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: block;
  height: auto;
  min-height: 100%;
  width: 100%;
  font-size: clamp(16px, 2vw, 24px);
  line-height: 1.4;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: rgb(43, 43, 43);
  background-image: linear-gradient(to right, #c1fdee, #5dc09a);
}

body {
  display: block;
  min-height: 100vh;
  overflow: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}

.reveal {
  font-kerning: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
}