@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

// Base
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: block;
  height: auto;
  min-height: 100%;
  width: 100%;
  font-size: max(24px, 3vw);
  line-height: 1.4;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: black;
  background: white;
}

body {
  display: block;
  min-height: 100vh;
  overflow: hidden;
} 

// Smooth scroll
.lenis {
  &.lenis-smooth {
    scroll-behavior: auto;

    [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
  }

  &.lenis-stopped {
    overflow: hidden;
  }

  &.lenis-scrolling iframe {
    pointer-events: none;
  }
}

// Layout
section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
}

// Text reveal
.text-reveal {
  font-kerning: none;

  .line-wrapper {
    overflow: hidden;
  }

  .line {
    transform: translate3d(0, 100%, 0);
  }
}