@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: block;
  height: auto;
  min-height: 100%;
  width: 100%;
  font-size: clamp(16px, 2vw, 24px);
  line-height: 1.4;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: rgb(43, 43, 43);
  background-image: linear-gradient(to right, #81e0e7, #ffc4f2,#81e0e7);
  background-size: 300% 300%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
  display: block;
  min-height: 100vh;
  overflow: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}

.container2 {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  font-size: 2rem;
}

.reveal {
  font-kerning: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
}

h3 {
  font-kerning: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #2d2e2e;
}

h4 {
  font-kerning: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #2d2e2e;

}

h1 {
  font-kerning: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #2d2e2e;
  text-align: center;
  padding: 1.5rem;
  font-weight: 300; /* Less bold */
}

p {
  padding: 1.5rem;
}
.text-reveal {
  font-kerning: none;
}
.text-reveal .line-wrapper {
  overflow: hidden;
}
.text-reveal .line {
  transform: translate3d(0, 100%, 0);
}
