@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: block;
  height: auto;
  min-height: 100%;
  width: 100%;
  font-size: clamp(16px, 2vw, 24px);
  line-height: 1.4;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: rgb(43, 43, 43);
  background-image: linear-gradient(to right, #ffc4f2, #6bd2da);
}

body {
  display: block;
  min-height: 100vh;
  overflow: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}

.container2 {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  font-size: 2rem;
}

.reveal {
  font-kerning: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
}

.card2 {
  background-color: #ffffff00;
  border-radius: 15px;
  /* border: 5px solid #2d2e2e; */
  
  /* border-image: linear-gradient(to right, #e3fff9, #bcf6fa) 1; */
  padding: 20px;
  margin: 20px;
  text-align: center;
  backdrop-filter: blur(5px); /* Add blur effect */
}

.card3 {
  background-color: #99e2e2;
  border: 1px solid #2d2e2e;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 10px 0px rgba(0, 72, 77, 0.1);
  margin: 20px;
  text-align: center;
}

.card1 {
  background-color: #caeeee;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 5px 0px rgba(255, 255, 255, 0.637) 0px -5px 0px rgba(0, 72, 77, 0.1);
  margin: 20px;
  text-align: center;
}

h3 {
  font-kerning: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #2d2e2e;
}

h4 {
  font-kerning: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #2d2e2e;

}

h1 {
  font-kerning: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #2d2e2e;
  text-align: center;
  padding: 1rem;
}

p {
  padding: 1.5rem;
}
.text-reveal {
  font-kerning: none;
}
.text-reveal .line-wrapper {
  overflow: hidden;
}
.text-reveal .line {
  transform: translate3d(0, 100%, 0);
}
